[user]
  email = afay.zangetsu@gmail.com
  name = Alexey Ermolaev
  signingKey = F2F91E4EBFA7EF6F
[core]
  editor = nano
  ignore = dirty
[color]
  diff = auto
  status = auto
  branch = auto
[credential]
  helper = cache --timeout=3600
[rebase]
  autostash = true
[stash]
  showPatch = true
[fetch]
  recurseSubmodules = on-demand
[push]
  default = simple
  followTags = true
[merge]
  conflictStyle = diff3
[status]
  submoduleSummary = true
[diff]
  submodule = log
[commit]
  gpgSign = true
[gpg]
  program = gpg2
