*
!.ncmpcpp/config
!.Xresources
!.asoundrc
!.bashrc
!.bash_profile
!.bash_aliases
!.eslintrc
!.festivalrc
!.gemrc
!.gitconfig
!.gitignore
!.irbrc
!.nvidia-settings-rc
!.profile
!.rvmrc
!.xinitrc
!.xprofile
!.xsession